<%- include ../layout/head.ejs%>
<div class="main-panel">
  <div class="content-wrapper">
    <%if(shop){%>
    <div class="row detail-wrapper">
      <div class="col-md-5 stretch-card grid-margin">
        <div class="card  card-img-holder text-white">
          <div class="card-body">
            <div class="img-wrapper">
              <img src="<%=shop.shopImg%>" alt="" />
            </div>
            <p class="text">
              【独角精灵版】三星 Galaxy A8s
              6GB+128GB莓什么（SM-G8870）黑瞳全视屏手机 全网通4G 双卡双待
            </p>
          </div>
        </div>
      </div>
      <section class="col-md-7 desc-wrapper">
        <h5>
          <span class="branch">精品</span>
          <%=shop.shopIntro%>
        </h5>
        <div class="price-wrapper">
          <span class="price">优惠价</span>
          <span class="icon">￥</span>
          <span><%=shop.shopPrice%></span>
        </div>
        <div class="weight-wrapper">
          <span class="weight">重 &nbsp &nbsp &nbsp &nbsp量</span>
          <span><%=shop.shopWeight%>kg</span>
        </div>
        <h6>商品介绍</h6>
        <ul class="config-wrapper">
          <li>
            <img src="/images/shopdetail/phone.png" alt="" />
            <span
              >分辨率：<%=shop.levelDpi%>*<%=shop.verticalDpi?shop.verticalDpi:1080%></span
            >
          </li>
          <li>
            <img src="/images/shopdetail/mirror.png" alt="" />
            <div class="msg-wrapper">
              <p>
                后置摄像头：<%=shop.behindMirror%>像素
              </p>
              <p>前置摄像头：<%=shop.frontMiror%>像素</p>
            </div>
          </li>
          <li>
            <img src="/images/shopdetail/cpu.png" alt="" />
            <div class="msg-wrapper">
              <p><span>核 &nbsp&nbsp&nbsp数：</span><%=shop.cpuNumber%></p>
              <p>
                <span>频 &nbsp&nbsp&nbsp率：</span
                ><%=shop.maxHz%>GHz,<%=shop.minHz%>GHz
              </p>
            </div>
          </li>
        </ul>
        <ul class="info-wrapper">
          <li class="branch">品牌：<span>三星（SAMSUNG）</span></li>
          <li>商品名称：<%=shop.shopName%></li>
          <li>商品编号：<%=shop.orderNumber%></li>
          <li>商品毛重：<%=shop.shopWeight%>kg</li>
          <li>商品产地：<%=shop.shopAdress%></li>
          <li>系统：<%=shop.system%></li>
          <li>机身厚度：<%=shop.thickness%></li>
          <li>拍照特点：<%=shop.photoFeature%></li>
          <li>电池容量：<%=shop.minBattery%>mAh-<%=shop.maxBattery%>mAh</li>
          <li>屏幕配置：<%=shop.screenConfig%></li>
          <li>机身颜色：<%=shop.phoneColor%></li>
          <li>热点：<%=shop.hotFeature%></li>
          <li>运行内存：<%=shop.runCpu%>GB</li>
          <li>前置摄像头像素：<%=shop.frontMiror%>万及以上</li>
          <li>后置摄像头像素：<%=shop.behindMirror%>万及以上</li>
          <li>网络制式：<%=shop.netType%></li>
          <li>游戏配置：<%=shop.gameConfig%></li>
          <li>机身内存：<%=shop.phoneCpu%>GB</li>
        </ul>
        <div class="btn-wrapper">
          <a href="/shopmanger/editshop?id=<%=shop._id%>" class="update"
            >更新商品</a
          >
          <a href="/shopmanger/deleteshop?id=<%=shop._id%>" class="detele"
            >删除商品</a
          >
        </div>
      </section>
    </div>
    <%}else{%>
    <h1>查看详情失败，请查找错误或反馈我们</h1>
    <%}%>
  </div>

  <!-- 底部版权面板开始 -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span
        class="text-muted text-center text-sm-left d-block d-sm-inline-block"
        >Copyright © 2019 <a href="" target="_blank">BootstrapDash</a>. All
        rights reserved.
      </span>
    </div>
  </footer>
  <!-- 底部版权面板结束 -->
</div>

<%- include ../layout/footer.ejs%>
