<%- include ../layout/head.ejs%>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row ">
      <div class="col-md-12 stretch-card grid-margin">
        <form class="info-wrapper">
          <ul class=" left-wrapper">
            <li>
              商品图片：<input
                class="shopIntro"
                type="text"
                autofocus
                name="shopImg"
                required
                value="<%=shop.shopImg%>"
              />
            </li>
            <li>
              商品简介：<input
                class="shopIntro"
                type="text"
                autofocus
                name="shopIntro"
                required
                value="<%=shop.shopIntro%>"
              />
            </li>
            <li>
              <input type="hidden" name="id" value="<%=shop._id%>" />
            </li>
            <li>
              商品价格：<input
                type="text"
                autofocus
                name="shopPrice"
                required
                value="<%=shop.shopPrice%>"
              />
            </li>
            <li>
              商品重量：<input
                type="text"
                autofocus
                name="shopWeight"
                required
                value="<%=shop.shopWeight%>"
              />
            </li>
            <li>
              水平分辨率：<input
                type="text"
                autofocus
                name="levelDpi"
                required
                value="<%=shop.levelDpi%>"
              />
            </li>
            <li>
              垂直分辨率：<input
                type="text"
                autofocus
                name="verticalDpi"
                required
                value="<%=shop.verticalDpi%>"
              />
            </li>
            <li>
              后置摄像头像素：<input
                type="text"
                autofocus
                name="behindMirror"
                required
                value="<%=shop.behindMirror%>"
              />
            </li>
            <li>
              前置摄像头像素：<input
                type="text"
                autofocus
                name="frontMiror"
                required
                value="<%=shop.frontMiror%>"
              />
            </li>
            <li class="cpuNumber">
              核 数：
              <select name="cpuNumber">
                <option value="单核">单核</option>
                <option value="双核">双核</option>
                <option value="四核">四核</option>
                <option value="六核">六核</option>
                <option value="八核">八核</option>
              </select>
            </li>
            <li>
              最大频率(GHz)：<input
                type="text"
                name="maxHz"
                required
                value="<%=shop.maxHz%>"
              />
            </li>
            <li>
              最小频率(GHz)：<input
                type="text"
                name="minHz"
                required
                value="<%=shop.minHz%>"
              />
            </li>
            <li>
              商品名称：<input
                type="text"
                autofocus
                name="shopName"
                required
                value="<%=shop.shopName%>"
              />
            </li>
            <li>
              商品编号：<input
                type="text"
                name="orderNumber"
                required
                value="<%=shop.orderNumber%>"
              />
            </li>
            <li></li>
            <li>
              商品产地：<input
                type="text"
                name="shopAdress"
                required
                value="<%=shop.shopAdress%>"
              />
            </li>
            <li></li>
            <li>
              系统：<input
                type="text"
                name="system"
                required
                value="<%=shop.system%>"
              />
            </li>
            <li>
              机身厚度(mm)：<input
                type="text"
                name="thickness"
                required
                value="<%=shop.thickness%>"
              />
            </li>
            <li>
              拍照特点：<input
                type="text"
                name="photoFeature"
                required
                value="<%=shop.photoFeature%>"
              />
            </li>
            <li>
              最大电池容量(mAh)：<input
                type="text"
                name="maxBattery"
                required
                value="<%=shop.maxBattery%>"
              />
            </li>
            <li>
              最小电池容量(mAh)：<input
                type="text"
                name="minBattery"
                required
                value="<%=shop.minBattery%>"
              />
            </li>
            <li>
              屏幕配置：<input
                type="text"
                name="screenConfig"
                required
                value="<%=shop.screenConfig%>"
              />
            </li>
            <li>
              机身颜色：<input
                type="text"
                name="phoneColor"
                required
                value="<%=shop.phoneColor%>"
              />
            </li>
            <li>
              热 点：<input
                type="text"
                name="hotFeature"
                required
                value="<%=shop.hotFeature%>"
              />
            </li>
            <li>
              运行内存(GB)：<input
                type="text"
                name="runCpu"
                required
                value="<%=shop.runCpu%>"
              />
            </li>
            <li>
              网络制式：<input
                type="text"
                name="netType"
                required
                value="<%=shop.netType%>"
              />
            </li>
            <li>
              游戏配置：<input
                type="text"
                name="gameConfig"
                required
                value="<%=shop.gameConfig%>"
              />
            </li>
            <li>
              机身内存(GB)：<input
                type="text"
                name="phoneCpu"
                required
                value="<%=shop.phoneCpu%>"
              />
            </li>
          </ul>
          <div class="btn-wrapper">
            <input type="submit" value="确定" class="submit" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- 底部版权面板开始 -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span
        class="text-muted text-center text-sm-left d-block d-sm-inline-block"
        >Copyright © 2019 <a href="" target="_blank">BootstrapDash</a>. All
        rights reserved.
      </span>
    </div>
  </footer>
  <!-- 底部版权面板结束 -->
</div>
<script>
  $(".info-wrapper").on("submit", function(e) {
    e.preventDefault();
    let formdata = $(this).serialize();
    $.ajax({
      type: "post",
      url: "/shopmanger/editshop",
      data: formdata,
      dataType: "json",
      success: function(res) {
        if (res.code === 1) {
          alert(res.msg);
          window.location.href = "/shopmanger";
        } else {
          alert("保存失败");
        }
      },
      fail: function(err) {
        console.log(err);
      }
    });
  });
</script>

<%- include ../layout/footer.ejs%>
