<%- include ../layout/head.ejs%>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 sort-wrapper">
       
          <!-- <p>
            现在你看到的是各种数据和概况，滚动查看信息，点击导航查看更多信息或进行管理
          </p> -->
         <ul>
           <li><a href="/shopmanger?stype=create_time&page=<%=currentPage%>">时间先后</a></li>
           <li><a href="/shopmanger?stype=shopPrice&page=<%=currentPage%>">价格高低</a></li>
           <li><a href="/shopmanger?stype=levelDpi&page=<%=currentPage%>">分辨率高低</a></li>
         </ul>
      
      </div>
    </div>
    <div class="row shop-wrapper">
      <%for(let i=0;i<shops.length;i++){%>
      <div class="col-md-3 stretch-card grid-margin">
        <div class="card  card-img-holder text-white">
          <div class="card-body">
            <a href="/shopmanger/detail?id=<%=shops[i]._id%>" title="点击查看详情">
              <img src="<%=shops[i].shopImg%>" alt="" />
            </a>
            <div class="text-left shopPrice">￥ <%=shops[i].shopPrice%></div>
            <p class="text">
              <%=shops[i].shopIntro%>
            </p>
            <div class="manger-wrapper">
              <a href="/shopmanger/deleteshop?id=<%=shops[i]._id%>" class="delete">删除</a>
              <a href="/shopmanger/editshop?id=<%=shops[i]._id%>" class="update">更新</a>
            </div>
          </div>
        </div>
      </div>
      <%}%>
    </div>
    <!-- 分页布局开始 -->
    <div class="paging-wrapper">
      <a href="/shopmanger?page=<%=currentPage-1%>&stype=<%=sortType%>" class="paging">上一页</a>
      <span>共有<%=pages%>页/当前在第<%=currentPage%>页</span>
      <a href="/shopmanger?page=<%=currentPage+1%>&stype=<%=sortType%>" class="paging">下一页</a>
    </div>
    <!-- 分页布局结束 -->
  </div>

  <!-- 底部版权面板开始 -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span
        class="text-muted text-center text-sm-left d-block d-sm-inline-block"
        >Copyright © 2019 <a href="" target="_blank">BootstrapDash</a>. All
        rights reserved.
      </span>
    </div>
  </footer>
  <!-- 底部版权面板结束 -->
</div>
<%- include ../layout/footer.ejs%>
