<%- include ./layout/head.ejs%>

<!-- 首页样式 -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12">
        <span class="d-flex align-items-center purchase-popup">
          <p>
            现在你看到的是各种数据和概况，滚动查看信息，点击导航查看更多信息或进行管理
          </p>
          <a
            href="https://github.com/BootstrapDash/PurpleAdmin-Free-Admin-Template"
            target="_blank"
            class="btn ml-auto download-button"
            >管理用户</a
          >
          <a href="/shopmanger" target="_blank" class="btn purchase-button"
            >管理商品</a
          >
          <i class="mdi mdi-close popup-dismiss"></i>
        </span>
      </div>
    </div>
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-home"></i>
        </span>
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span> 数据面板
            <i
              class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"
            ></i>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
          <div class="card-body">
            <img
              src="images/dashboard/circle.svg"
              class="card-img-absolute"
              alt="circle-image"
            />
            <h4 class="font-weight-normal mb-3">
              商品数量
              <i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-5"><%=shopCount%></h2>
            <h6 class="card-text">增长 60%</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
          <div class="card-body">
            <img
              src="images/dashboard/circle.svg"
              class="card-img-absolute"
              alt="circle-image"
            />
            <h4 class="font-weight-normal mb-3">
              用户人数
              <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-5"><%=users.length%></h2>
            <h6 class="card-text">增长 5%</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
          <div class="card-body">
            <img
              src="images/dashboard/circle.svg"
              class="card-img-absolute"
              alt="circle-image"
            />
            <h4 class="font-weight-normal mb-3">
              Api接口数
              <i class="mdi mdi-diamond mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-5">2</h2>
            <h6 class="card-text">增长 5%</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">用户群</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      用户名
                    </th>
                    <th>
                      账号
                    </th>
                    <th>
                      密码
                    </th>
                    <th>
                      最新修改时间
                    </th>
                    <th>
                      追踪ID
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <%for(let i=0;i<users.length;i++){%>
                  <tr>
                    <td>
                      <img
                        src="<%=users[i].avater%>"
                        class="mr-2"
                        alt="image"
                      />
                      <%=users[i].username%>
                    </td>
                    <td>
                      <%=users[i].email%>
                    </td>
                    <td>
                      <label class="badge badge-gradient-success"
                        >········</label
                      >
                    </td>
                    <td>
                      <%=users[i].modified_time%>
                    </td>
                    <td>
                      <%=users[i]._id%>
                    </td>
                  </tr>
                  <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Recent Updates</h4>
            <div class="d-flex">
              <div
                class="d-flex align-items-center mr-4 text-muted font-weight-light"
              >
                <i class="mdi mdi-account-outline icon-sm mr-2"></i>
                <span>jack Menqu</span>
              </div>
              <div
                class="d-flex align-items-center text-muted font-weight-light"
              >
                <i class="mdi mdi-clock icon-sm mr-2"></i>
                <span>October 3rd, 2018</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6 pr-1">
                <img
                  src="images/dashboard/img_1.jpg"
                  class="mb-2 mw-100 w-100 rounded"
                  alt="image"
                />
                <img
                  src="images/dashboard/img_4.jpg"
                  class="mw-100 w-100 rounded"
                  alt="image"
                />
              </div>
              <div class="col-6 pl-1">
                <img
                  src="images/dashboard/img_2.jpg"
                  class="mb-2 mw-100 w-100 rounded"
                  alt="image"
                />
                <img
                  src="images/dashboard/img_3.jpg"
                  class="mw-100 w-100 rounded"
                  alt="image"
                />
              </div>
            </div>
            <div class="d-flex mt-5 align-items-top">
              <img
                src="images/faces/face3.jpg"
                class="img-sm rounded-circle mr-3"
                alt="image"
              />
              <div class="mb-0 flex-grow">
                <h5 class="mr-2 mb-2">
                  School Website - Authentication Module.
                </h5>
                <p class="mb-0 font-weight-light">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page.
                </p>
              </div>
              <div class="ml-auto">
                <i class="mdi mdi-heart-outline text-muted"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span
        class="text-muted text-center text-sm-left d-block d-sm-inline-block"
        >Copyright © 2019 <a href="" target="_blank">BootstrapDash</a>. All
        rights reserved.
      </span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->

<!-- 模板容器 -->

<%- include ./layout/footer.ejs%>
